/* Custom fonts */
@font-face {
    font-family: '2048';
    src: url('../fonts/sf-regular.woff2') format('woff2');
}

.board {
	margin: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 470px;
	z-index: 1;
}

.board-container {
  background-color: rgb(128, 128, 128);
  height: 500px;
  width: 500px;
}

body {
  color: white;
  font-family: '2048', sans-serif;
  width: 100vw;
}

/* Shadow for the navigation bar  */
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bug-board {
  color: black;
}

.bug-list {
  max-height: 800px;
  overflow-y: auto;
}

/* Board cell */
.cell {
  background: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
  float: left;
  height: 106.25px;
  margin-right: 15px;
  width: 106.25px;
}
.cell:last-child {
  margin-right: 0;
}

.cell-number {
  font-size: 38px;
  font-weight: 600;
  height: 106.25px;
  position: absolute;
  text-align: center;
  width: 106.25px;
}

.cell-number p {
  margin-top: 20px;
}

.cookies-message {
  background-color: white;
  bottom: 0;
  color: black;
  left: 0;
  opacity: 0.95;
  position: fixed;
  width: 100%;
}

.currentScore, .bestScore {
  font-size: 16px;
  margin-top: 8px;
  position: absolute;
  width: 100px;
}

div {
  outline: 0;
}

.fa {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  color: rgb(109, 109, 109);
  font-size: 20px;
  height: 40px;
  margin-left: 12px;
  margin-right: 8px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  width: 40px;

  /* Animation */
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fa:hover {
  color: white;
}

footer {
  background-color: black;
  color: white;
  margin-bottom: 0;
  margin-top: 6.5%;
  padding-bottom: 5%;
}

.footer-content {
  margin: auto;
}

.grid-row {
  margin-bottom: 15px;
}
.grid-row:first-child {
	padding-top: 15px;
}
.grid-row:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  font-size: 300%;
  letter-spacing: 10px;
}

.header-icon {
  width: 120px;
}

#howToPlayDescription {
  font-size: 90%;
}

html {
  background-color: black;
}

#ignoreCookies {
  position: absolute;
  right: 15px;
  top: 20%;
}

.line {
  border-bottom: 1px solid white;
  height: 30px;
  margin-top: 40px;
  width: 175px;
}

.modal {
  color: black;
}

.page-item {
  color: gray;
}

.pointContainer {
  height: 80%;
  transform: translate(0, -50%);
  width: 80%;
}

.pointsImage {
  font-size: 25px;
  transform: translate(0, -360%);
}

.result-container {
  background-color: rgba(204, 204, 0, 0.7);
  font-size: 35px;
  height: 500px;
  padding-top: 5%;
  position: absolute;
  width: 500px;
  z-index: 2;
}

.result-container > button {
  margin-top: 12%;
}

.resultDescription {
  font-size: 20px;
}

.resultImage {
  height: 35%;
  margin-top: 5%;
  width: 35%;
}

/* Current and best score! */
.score {
  background-color: rgb(243, 223, 110);
  color: black;
  font-size: 80%;
  height: 90px;
  padding-top: 10px;
  width: 100px;

  /* Inner shadow */
  -webkit-box-shadow: inset 0px 0px 34px 21px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 0px 34px 21px rgba(0,0,0,0.13);
  box-shadow: inset 0px 0px 34px 21px rgba(0,0,0,0.13);
}

.shareButton {
  transform: translate(0, -150%);
}

.ui-page-active {
  display: inline !important;
  min-height: 0px;
}

.ui-pagecontainer, .ui-mobile-viewport, .ui-overlay-a {
  background: black;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}


/* Responsive screen depending on different sizes */
@media only screen and (max-width: 550px) {
  .board {
    margin: auto;
    margin-bottom: 10%;
    width: 226px;
    z-index: 1;
  }

  .board-container {
    height: 245px;
    width: 240px;
    z-index: 1;
  }

  .cell {
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    float: left;
    height: 50.5px;
    margin-right: 8px;
    width: 50.5px;
  }
  .cell:last-child {
    margin-right: 1;
  }

  .cell-number {
    font-size: 15px;
    height: 50.5px;
    width: 50.5px;
  }
  .cell-number p {
    margin-top: 15px;
  }

  .currentScore, .bestScore {
    font-size: 13px;
    margin-top: 3px;
    position: absolute;
    width: 80px;
  }

  .grid-row {
    margin-bottom: 10px;
  }
  .grid-row:first-child {
    padding-top: 6px;
  }
  .grid-row:after {
    clear: both;
    content: "";
    display: block;
  }

  .header-icon {
    width: 90px;
  }

  .line {
    margin-top: 25px;
    width: 62px;
  }

  .pointContainer {
    height: 90%;
    transform: translate(0, -65%);
    width: 90%;
  }

  .pointsImage {
    font-size: 11px;
    transform: translate(0, -500%);
  }

  .result-container {
    font-size: 20px;
    height: 245px;
    width: 240px;
  }

  .result-container > button {
    margin-top: 0;
  }

  .resultDescription {
    font-size: 15px;
  }

  .resultImage {
    height: 37%;
    width: 37%;
  }

  .score {
    background-color: rgb(128, 128, 128);
    font-size: 80%;
    height: 70px;
    padding-top: 5px;
    width: 80px;
  }

  .shareButton {
    transform: translate(0, -180%);
  }
}
