/* Custom fonts */
@font-face {
    font-family: '2048';
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff2') format('woff2');
}

.board {
	margin: auto;
  width: 470px;
	z-index: 1;
}

.board-container {
  background-color: rgb(128, 128, 128);
  height: 500px;
  width: 500px;
}

body {
  background-color: rgb(64, 64, 64);
  color: white;
  font-family: '2048', sans-serif;
  padding-bottom: 10%;
}

/* Shadow for the navigation bar  */
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Board cell */
.cell {
  background: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
  float: left;
  height: 106.25px;
  margin-right: 15px;
  width: 106.25px;
}
.cell:last-child {
  margin-right: 0;
}

.cell-number {
  font-size: 42px;
  font-weight: 600;
  height: 106.25px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 106.25px;
}

.cell-number p {
  margin-top: 20px;
}

.grid-row {
  margin-bottom: 15px;
}
.grid-row:first-child {
	padding-top: 15px;
}
.grid-row:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  font-size: 300%;
  letter-spacing: 10px;
}

.line {
  border-bottom: 1px solid white;
  height: 35px;
  width: 12%;
}

/* Current and best score! */
.score {
  background-color: rgb(128, 128, 128);
  font-size: 80%;
  height: 90px;
  padding-top: 10px;
  width: 100px;
}


/* Responsive screen depending on different sizes */
@media only screen and (max-width: 550px) {
  .board {
    margin: auto;
    margin-bottom: 10%;
    width: 226px;
    z-index: 1;
  }

  .board-container {
    height: 245px;
    width: 240px;
    z-index: 1;
  }

  .cell {
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    float: left;
    height: 50.5px;
    margin-right: 8px;
    width: 50.5px;
  }
  .cell:last-child {
    margin-right: 1;
  }

  .cell-number {
    font-size: 35px;
    height: 50.5px;
    width: 50.5px;
  }
  .cell-number p {
    margin-top: 0;
  }

  .grid-row {
    margin-bottom: 10px;
  }
  .grid-row:first-child {
    padding-top: 6px;
  }
  .grid-row:after {
    clear: both;
    content: "";
    display: block;
  }

  .score {
    background-color: rgb(128, 128, 128);
    font-size: 80%;
    height: 70px;
    padding-top: 5px;
    width: 80px;
  }
}
