<footer class="my-5 pt-5 text-center text-small">
  <p class="mb-1">© 2017-2018 UJA 2048</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="privacy.html" target="_blank">Privacy terms & conditions</a></li>
    <li class="list-inline-item"><a href="https://github.com/UJA2048/UJA2048.github.io/issues" target="_blank">Issues</a></li>
  </ul>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119272479-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119272479-1');
</script>
