<footer class="pt-5">
  <div class="row container footer-content">
    <!-- Game icon -->
    <div class="col-12 col-md">
      <img class="mb-3" src="assets/images/2048/logo.png" alt="2048 icon" width="90" height="90">
      <p class="mb-1" style="font-size: 80%;">© 2017-2018 2048</p>
    </div>

    <!-- Resources: privacy terms, github, ... -->
    <div class="col-6 col-md">
      <h5> Resources </h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="privacy.html" target="_blank"> Privacy terms & conditions </a></li>
        <li><a class="text-muted" href="privacy.html" target="_blank"> Github: source code </a></li>
      </ul>
    </div>

    <!-- Programmers media links -->
    <div class="col-6 col-md">
      <h5> Alfonso López Ruiz </h5>
      <div class="row justify-content-start socialMediaLinks">
        <a href="https://github.com/AlfonsoLRz" class="fa" type="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:alr00048@red.ujaen.es" class="fa" type="_blank"><i class="far fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-6 col-md">
      <h5> José Luis López Ruiz</h5>
      <div class="row justify-content-start socialMediaLinks">
        <a href="https://github.com/jllr0006" class="fa" type="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:jllr00006@red.ujaen.es" class="fa" type="_blank"><i class="far fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119272479-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-119272479-1');
</script>
