<footer class="my-5 pt-5 text-center text-small">
  <p class="mb-1">© 2017-2018 UJA 2048</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy terms & conditions</a></li>
    <li class="list-inline-item"><a href="#">Bug track</a></li>
  </ul>
</footer>

<div class="cookies-message text-center pt-2" style="z-index:1">
  <i id="ignoreCookies" class="far fa-times-circle fa-2x align-middle"></i>
	<p class="small pt-2 pl-5 pr-5">
		This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
    You can check our <a href=""> Privacy terms & conditions </a>
  </p>
</div>
